---
title: "NiceGit: Source control for normal people"
description: NiceGit is the simpler, faster way for teams to share and track their files.
---
<section class="hero">
	<div class="text-container">
		<h1 class="editable">Source control <strong>for normal people</strong></h1>
		<p class="subtext editable">NiceGit is the simpler, faster way for teams to share and track their files.</p>
		<div>
		<div class="cta button alt"><a href="#sign-up">Sign Up For NiceGit Beta</a></div>
	</div>
			<img src="/images/Screenshot.png" alt="Screenshot" class="screenshot editable" />
		</div>
</section>

<div class="content">
	<section>
		<div class="container flex">
			<div class="text editable">
				<h2>How can I <strong>work faster</strong> and spend more time on what matters?</h2>
				<p>NiceGit provides a simple workflow that makes working on shared files easy. Based around a real-time feed, you'll see what your colleagues 
					are working on right now, not just what they've already finished.
				</p>
			</div>
			<div class="image">
				<img src="/images/Screenshot.png" alt="Screenshot" class="screenshot editable" />
			</div>
		</div>
	</section>

	<section>
		<div class="container flex">
			<div class="text editable">
				<h2><strong>Everything you need, </strong>nothing you don't</h2>
				<p>More than just an app, NiceGit is a complete workflow.
					By always understanding which files people are working on, NiceGit has no need for complex, hard to use concepts such as branching and
					merging. When you're ready to share your latest work, just hit the Share button, it really is that simple!
				</p>
				<p>As its name suggests, NiceGit builds on the awesome power of Git. Integration with your existing projects and tools is seamless and
					all Git hosting providers are supported, including GitHub, Bitbucket and GitLab.
				</p>
				</p>
			</div>
			<div class="image open-github">
				<img src="/images/OpenGitHub.gif" alt="GitHub login animation" class="screenshot editable" />
			</div>
		</div>
	</section>

	<section>
		<div class="container flex">
			<div class="text editable">
				<h2>Source control that puts the <strong>user first</strong></h2>
				<p>A clean, simple interface designed around the common things that you and your team do all day, every day. Your current changes,
					a complete project history, and the latest status of everyone on the team, are all there on a single screen. Just one button is all you
					need to stay in sync.
				</p>
			</div>
			<div class="image">
				<img src="/images/Screenshot.png" alt="Screenshot" class="screenshot editable" />
			</div>
		</div>
	</section>

	<!-- <section class="testimonial">
		<div class="container flex">
			<div class="testimonial-block">
				<div class="square-image"><img src="https://source.unsplash.com/6anudmpILw4/600x400" alt="Jim James" class="editable"></div>
				<blockquote>
					<p class="editable">Hydra has shaped the business we have today. We have a repeatable sales process and a strategy to scale our team. I recommend Hydra to any business looking to improve their sales.</p>
					<p class="editable author">Jim James - CEO of Global Corp.</p>
				</blockquote>
			</div>
		</div>
	</section> -->

	<!-- <section class="bottom-cta" id="purchase">
			 {% include purchase.html %}
	</section> -->
	<section class="bottom-cta" id="sign-up">
		{% include signup.html %}
	</section>

</div>
