<nav>
	<a class="nav-toggle" id="open-nav" href="#">&#9776;</a>
	<a class="editor-link btn" href="cloudcannon:collections/_data/navigation.yml" class="btn"><strong>&#9998;</strong> Edit navigation</a>
	{% for link in site.data.navigation %}
		{% assign class = "" %}
		{% if link.highlight %}
			{% assign class = class | append: " highlight" %}
		{% endif %}

		{% if link.link == page.url %}
			{% assign class = class | append: " active" %}
		{% endif %}

		{% if link.subnav %}
			<div class="dropdown">
				<a href="{% include relative-src.html src=link.link %}" class="dropdown-button {{ class }}" {% if link.new_window %}target="_blank"{% endif %}>
					{{ link.name }} <i class="fa fa-chevron-down"></i>
				</a>
				<div class="dropdown-content">
					{% for sublink in link.subnav %}
						<a href="{% include relative-src.html src=sublink.link %}" class="dropdown-item" {% if sublink.new_window %}target="_blank"{% endif %}>
							{{ sublink.name }}
						</a>
					{% endfor %}
				</div>
			</div>
		{% else %}
			<a href="{% include relative-src.html src=link.link %}" class="{{ class }}" {% if link.new_window %}target="_blank"{% endif %}>{{ link.name }}</a>
		{% endif %}
	{% endfor %}
</nav>
