<section class="supporters">
  <div class="container">
    <h3 class="supporters-heading">Supported by</h3>
    <div class="supporters-scroll">
      <a class="supporter" href="https://www.startmate.com/launch-club" target="_blank" rel="noopener noreferrer">
        <img src="/images/supporters/startmate.svg" alt="Startmate Launch Club" />
      </a>
      <a class="supporter" href="https://www.antler.co/australia" target="_blank" rel="noopener noreferrer">
        <img src="/images/supporters/antler.svg" alt="Antler Residency" />
      </a>
      <a class="supporter" href="https://www.blackbird.vc/giants" target="_blank" rel="noopener noreferrer">
        <img src="/images/supporters/blackbird.svg" alt="Blackbird Giants" />
      </a>
      <a class="supporter" href="https://creativecubes.co" target="_blank" rel="noopener noreferrer">
        <img src="/images/supporters/creativecubes.png" alt="CreativeCubes" />
      </a>
    </div>
  </div>
</section>
